html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:15px 30px;background:#eee;font-size:16px;}
html,body{font-family:Verdana,Calibri,Arial,sans-serif;}html{overflow-x:hidden;}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Tahoma,sans-serif;font-weight:600;margin:10px 0;text-align:center}
hr{border:0;border-top:2px solid #ccc;margin:15px 0}
p{text-align:justify;line-height: 1.5}
footer {font-size: 0.8em}
.center {text-align: center}
@media screen and (max-width:800px) {body{margin:5px 15px;background:#ded}p{font-size:1.2em;line-height: 1.4}}
div.pic img {width: 100%;height: auto;}
div.desc {padding: 5px;text-align: center;font-size: .8em}
.responsive {padding: 5px;box-shadow: 5px 5px 5px grey;border: 1px solid #ccc;background:#fff;}
div.gallery {margin: 5px;border: 1px solid #ccc;width: 200px;float: left}
div.gallery:hover {border: 1px solid #777;}
div.gallery img {width: 100%;height: auto;}
* {box-sizing: border-box;}
.responsive {padding: 0 6px;float: left;width: 24.99999%;}
@media only screen and (max-width: 700px){.responsive {width: 49.99999%;margin: 6px 0;}}
@media only screen and (max-width: 500px){.responsive {width: 100%;}}
.clearfix:after {content: "";display: table;clear: both;}
a.topnav-icons {font-size:24px !important}
.darktheme {background-color: #1d2a35!important;color:#ddd!important}
.darktheme h1 {text-shadow: 1px 1px 5px #000}
.darktheme h2 {text-shadow: 1px 1px 2px #000}
.darktheme h3 {text-shadow: 1px 1px 2px #000}
.darktheme h4 {text-shadow: 1px 1px 1px #000}
.darktheme hr {border-top: 1px solid #38444d}
.darktheme strong {color:#fff4a3;text-shadow: 1px 1px 1px #111}
.darktheme b {color: #4bfdfd;text-shadow: 1px 1px 1px #000}