html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:15px 30px;background:#eee}
html,body{font-family:Verdana,Calibri,Arial,sans-serif;}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Tahoma,sans-serif;font-weight:600;margin:10px 0;text-align:center}
hr{border:0;border-top:2px solid #ccc;margin:15px 0}
p{font-size:16px;text-align:justify;line-height: 1.5}
@media screen and (max-width:800px) {body{margin:5px 15px;background:#ded}p{font-size:1.2em;line-height: 1.4}}