/*Стиль великих кнопок*/
.bigbtn {margin-bottom:5px;height:auto;width:32%;border:1px solid #e3e3e3;background-color: #c6ecf6;color: #333;font-size:1.1em;padding:20px 0;text-align: center;vertical-align: middle;display: inline-block;text-decoration:none !important;box-shadow: .5px .5px 2px #a0aaa8}
.bigbtn:hover, .bigbtn2:hover {background-color: #025048;color: #fff !important;border: 1px solid #555;text-shadow: 1px 1px 1px #000}
@media screen and (max-width: 992px){.bigbtn {display: block;width: 100%;font-size:1.3em}}
.darktheme .bigbtn {border:1px solid #666;background-color: #0c1033;color:#ddd;box-shadow: 1px 1px 5px #222}
.darktheme .bigbtn:hover {background-color: #210101;box-shadow: 1px 1px 5px #000}