/*Стиль больших кнопок*/
.bigbtn {
    margin-bottom:5px;
    height:70px;
    width:32%;
    border:1px solid #e3e3e3;
    background-color:#f1f1f1;
    color:#555;
    font-size:16px;
    padding:20px 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    text-decoration:none !important;
}
.bigbtn:hover, .bigbtn2:hover {
    background-color: #555;
    color: #fff !important;
    border: 1px solid #555;
}
@media screen and (max-width: 992px){
    .bigbtn {
        display: block;
        width: 100%;
    }
}