/*Compiler Style*/
.editor-container {display: -ms-flexbox;display:flex;justify-content: space-between;margin-top:-16px;margin-bottom:-8px}
.editor-container .editor-child {width:49.6%;float:left}
.editor-container .editor-edit {margin-right:5px}
.editor-container .editor-view {color:white;font-family:Arial, sans-serif !important;text-align:center;background:black;margin:16px 0;margin-left:5px;padding:20px}
@media only screen and (max-width: 768px) {.editor-container {margin-bottom:0;display:block}
 .editor-container .editor-child {margin:0;width:100%}
 .editor-container .editor-view {margin-bottom:8px}}
.mq {border:1px solid #ddd}
@media only screen and (max-width: 600px) {.mq {border:none!important}}
.fa-home:before {content: '\e800'; }
.fa-save:before {content: '\e804'; }
.fa-bars:before {content: '\f0c9'; }
.fa-rotate:before {content: '\e813'; }
.fa-menu:before {content: '\f0c9'; }
.w3-hover-none {cursor:default}
.containerm {position: relative}
.middlem {opacity: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%); text-align: center}
.containerm:hover .middlem {opacity: 1}
.trytopnav {background-color: #E7E9EB}
body.darktheme .trytopnav {background-color: #4c4c54;color: #ddd}
.trytopnav a.w3-bar-item {color:#999!important}
body.darktheme .trytopnav a.w3-bar-item {color: #ddd!important}
.w3-border {border: 1px solid #ccc!important}
.editor-brown {color:brown}
.editor-blue {color:mediumblue}
body.darktheme .w3-border {border: 1px solid #4c4c54!important}
.darktheme .htmlHigh {color: #88c999}
.darktheme .editor-brown {color: #ff9999}
.darktheme .editor-blue {color: #88c999}
.darktheme .editor-white {color: white}