/* Style for Dark Theme */
body.dark_1 {background-color: #1d2a35!important;color:#ddd!important;}
body.dark_1 .w3-white {background-color: #1d2a35!important;color:#ddd!important;}
body.dark_1 .ws-black {background-color:rgb(13,23,33)!important;}
body.dark_1 #pagetop {background-color:rgb(21,32,43);color:#ddd;}
body.dark_1 #nav_tutorials,body.dark_1 #nav_references,body.dark_1 #nav_exercises,body.dark_1 #nav_login {background-color:rgb(13,23,33);color: white;}
body.dark_1 .topnav {background-color: rgb(13,23,33);}
body.dark_1 #main {border-right: 1px solid #38444d;}
body.dark_1 hr {border-top: 1px solid #38444d;}
body.dark_1 .w3-codespan {color:#ff9999;}
body.dark_1 .w3-note {background-color: #FFF4A3!important;color:#000;}
body.dark_1 .w3-example {background-color: #38444d;}
.darktheme .w3-code {background-color: rgb(21,32,43);}
body.dark_1 .w3-info {background-color:rgb(21,32,43);}
body.dark_1 #w3-exerciseform {background-color: #38444d;color: #ddd;}
body.dark_1 #w3-exerciseform .exercisewindow {background-color: rgb(21,32,43);color: #ddd;}
body.dark_1 #w3-exerciseform .exerciseprecontainer {background-color: #38444d;}
body.dark_1 #w3-exerciseform .exerciseprecontainer input {background-color:rgb(21,32,43);}
body.dark_1 #leftmenuinnerinner::-webkit-scrollbar {width: 12px;}
body.dark_1 #leftmenuinnerinner::-webkit-scrollbar-track {background:rgb(21,32,43);}
body.dark_1 #leftmenuinnerinner::-webkit-scrollbar-thumb {background: #29353e;}
body.dark_1 #leftmenuinnerinner {background-color:rgb(21,32,43);color:#ccc;}
body.dark_1 #sidenav a.active_overview:link,body.dark_1 #sidenav a.active_overview:visited {background-color: #38444d;color:#ddd;}
body.dark_1 .tut_overview {background-color: #38444d;}
body.dark_1 #footer {border-top: 1px solid #38444d;background-color: #1d2a35;padding: 32px;}
body.dark_1 .ws-grey {background-color: #38444d!important;color: #ddd!important;}
body.dark_1 #getdiploma {background-color: rgb(13,23,33)!important;}
body.dark_1 #video_sidesection {background-color:rgb(13,23,33);}
body.dark_1 #internalCourses {background-color:rgb(13,23,33);}
body.dark_1 .w3-third .bigbtn {border: 1px solid #38444d!important;background-color: #38444d!important;color: #ddd !important;}
body.dark_1 .top {background-color:rgb(13,23,33);}
body.dark_1 .topnav {background-color: #014949;}
body.dark_1 .topnav .w3-bar a.active {background-color: #014949;}
body.dark_1 .sidesection {background-color: #2f2f2f;color:#eee}

body.dark_2 {background-color: #1E1E1E!important;color:#ddd!important;}
body.dark_2 .w3-white {background-color: #1E1E1E!important;color:#ddd!important;}
body.dark_2 .ws-black {background-color:rgb(0,0,0)!important;}
body.dark_2 #pagetop {background-color:#1E1E1E;color:#ddd;}
body.dark_2 #nav_tutorials,body.dark_2 #nav_references,body.dark_2 #nav_exercises,body.dark_2 #nav_login {background-color:rgb(13,23,33);color: white;}
body.dark_2 .topnav {background-color: rgb(0,0,0);}
body.dark_2 #main {border-right: 1px solid #333;}
body.dark_2 hr {border-top: 1px solid #333;}
body.dark_2 .w3-codespan {color:#ff9999;}
body.dark_2 .w3-note {background-color: #FFF4A3!important;color:#000;}
body.dark_2 .w3-example {background-color: #333;}
body.dark_2  .w3-code {background-color: rgb(0,0,0);}
body.dark_2 .w3-info {background-color:rgb(21,32,43);}
body.dark_2 #w3-exerciseform {background-color: #38444d;color: #ddd;}
body.dark_2 #w3-exerciseform .exercisewindow {background-color: rgb(21,32,43);color: #ddd;}
body.dark_2 #w3-exerciseform .exerciseprecontainer {background-color: #38444d;}
body.dark_2 #w3-exerciseform .exerciseprecontainer input {background-color:rgb(21,32,43);}
body.dark_2 #leftmenuinnerinner::-webkit-scrollbar {width: 12px;}
body.dark_2 #leftmenuinnerinner::-webkit-scrollbar-track {background:#252526;}
body.dark_2 #leftmenuinnerinner::-webkit-scrollbar-thumb {background: #333;}
body.dark_2 #leftmenuinnerinner {background-color:#252526;color:#ccc;}
body.dark_2 #sidenav a.active_overview:link,body.dark_2 #sidenav a.active_overview:visited {background-color: #5c5c5c;color:#ddd;}
body.dark_2 .tut_overview {background-color: #5c5c5c;}
body.dark_2 #footer {border-top: 1px solid #333;background-color: #1d2a35;padding: 32px;}
body.dark_2 .ws-grey {background-color: #5c5c5c!important;color: #ddd!important;}
body.dark_2 #getdiploma {background-color: rgb(13,23,33)!important;}
body.dark_2 #video_sidesection {background-color:rgb(0,0,0);}
body.dark_2 #internalCourses {background-color:rgb(0,0,0);}
body.dark_2 .w3-third .bigbtn {border: 1px solid #38444d!important;background-color: #38444d!important;color: #ddd !important;}
body.dark_2 .top {background-color:rgb(0,0,0);}
body.dark_2 .topnav {background-color: #014949;}
body.dark_2 .topnav .w3-bar a.active {background-color: #014949;}

body.dark_3 {background-color: #1d2a35!important;color:#ddd!important;}
body.dark_3 .w3-white {background-color: #1d2a35!important;color:#ddd!important;}
body.dark_3 .ws-black {background-color:rgb(13,23,33)!important;}
body.dark_3 #pagetop {background-color:rgb(21,32,43);color:#ddd;}
body.dark_3 #nav_tutorials,body.dark_3 #nav_references,body.dark_3 #nav_exercises,body.dark_3 #nav_login {background-color:rgb(13,23,33);color: white;}
body.dark_3 .topnav {background-color: rgb(13,23,33);}
body.dark_3 #main {border-right: 1px solid #38444d;}
body.dark_3 hr {border-top: 1px solid #38444d;}
body.dark_3 .w3-codespan {color:#ff9999;}
body.dark_3 .w3-note {background-color: #FFF4A3!important;color:#000;}
body.dark_3 .w3-example {background-color: #38444d;}
body.dark_3 .darktheme .w3-code {background-color: rgb(21,32,43);}
body.dark_3 .w3-info {background-color:rgb(21,32,43);}
body.dark_3 #w3-exerciseform {background-color: #38444d;color: #ddd;}
body.dark_3 #w3-exerciseform .exercisewindow {background-color: rgb(21,32,43);color: #ddd;}
body.dark_3 #w3-exerciseform .exerciseprecontainer {background-color: #38444d;}
body.dark_3 #w3-exerciseform .exerciseprecontainer input {background-color:rgb(21,32,43);}
body.dark_3 #leftmenuinnerinner::-webkit-scrollbar {width: 12px;}
body.dark_3 #leftmenuinnerinner::-webkit-scrollbar-track {background-color: #38444d;}
body.dark_3 #leftmenuinnerinner::-webkit-scrollbar-thumb {background-color:#4b5b68}
body.dark_3 #leftmenuinnerinner {background-color: #38444d;color:#ccc;}
body.dark_3 #sidenav a.active_overview:link,body.dark_3 #sidenav a.active_overview:visited {background-color: #566876;color:#ddd;}
body.dark_3 .tut_overview {background-color: #566876;}
body.dark_3 #footer {border-top: 1px solid #38444d;background-color: #1d2a35;padding: 32px;}
body.dark_3 .ws-grey {background-color: #38444d!important;color: #ddd!important;}
body.dark_3 #getdiploma {background-color: rgb(13,23,33)!important;}
body.dark_3 #video_sidesection {background-color:rgb(13,23,33);}
body.dark_3 #internalCourses {background-color:rgb(13,23,33);}
body.dark_3 .w3-third .bigbtn {border: 1px solid #38444d!important;background-color: #38444d!important;color: #ddd !important;}
body.dark_3 .top {background-color:rgb(13,23,33);}
body.dark_3 .topnav {background-color: #014949;}
body.dark_3 .topnav .w3-bar a.active {background-color: #014949;}