/* external head style */
#main {width: 100%;padding: 0;border: none;margin-top: 87px;}
#my-pathfinder-page {background-image: url(../images/bg_sky2.gif);background-color: #171921}
.path-footer {background-image: url(../images/dashboard_trans.png);background-color: #171921}
h1,h2,h3,h4,h5,h6,p {font-family: "Source Sans Pro", sans-serif; color: white}
#main a {text-decoration: none}
#mypagediv2, #user-profile-bottom-wrapper {height: 0;overflow: hidden;display: block}
#footer {padding: 0}
.caption {padding: 115px 35px 90px 35px;text-align:center}
.caption h1 {font-weight: 700;font-size: 62px;line-height: 55px;padding-top: 11px;padding-bottom: 20px;font-family: Source Sans Pro, sans-serif;color: #fff;margin:0}
.caption h3 {font-size: 25px;color: #FFC0C7;margin: 19px 0}
@media screen and (max-width:620px) {.caption {padding: 50px 15px 30px 15px}
 .caption h1, h1 {font-size: 60px !important}
 .caption h3 {font-size: 24px}
 .footerpro {padding: 0 50px 20px 50px}}
@media screen and (max-width:550px) {.caption h1,h1 {font-size: 50px !important}
 .caption h3 {font-size: 24px}
 .footerpro {margin-top: -95px}}
#footer .w3-small,#footer a {font-family: Verdana, sans-serif}
.reveal {text-align: left;font-size: 14px;width: 320px;padding: 12px 9px;border-radius: 10px;border: 2px solid #059862;margin-left: 80px;background-color: #383B4B;color: #ddd;position: relative;transform: translateY(150px);opacity: 0;transition: 1s all ease}
.reveal.revactive {transform: translateY(0);opacity: 1}
.gradient-bg {background-image: url(../images/gradient_shadow3.png);background-position: left bottom;background-repeat: no-repeat;background-size: 800px 355px}
.parallax {
 /* The image used */
 background-image: url(../images/bg_sky2.gif);
 /* Set a specific height */
 min-height: 300px;
 /* Create the parallax scrolling effect */
 background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover}
.parallax2 {/* The image used */
 background-image: url(../images/spider-web.png);
 /* Set a specific height */
 min-height: 300px;
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: 500px}
.pathmq50 {width: 50%}
.pathmq2 {float:left;width:42%;margin-right:15px;margin-top:20px}
.less-marg,.less-marg2 {margin-top: 170px}
.talent-lynx {max-width: 580px;width: 100%;margin-left: 20px;padding-right: 50px;margin-top: 50px}
.auto-resume {margin-left:50px}
.auto-resume,.job-matching {max-width: 900px;width: 100%;margin-top: -20px}
.dynamic-divs {height:260px;border-radius:10px;border:1px solid #444;padding:25px 20px 20px 20px;background-color:#171921}
.lessmargmob {margin-top:50px}
.kai-icon {margin-top: 15px;float: left;width: 50px;height: 50px}
@media screen and (max-width: 1280px) {.dynamic-divs {height:310px}}
@media screen and (max-width: 1250px) {.user-icon {display: none !important}}
.user-icon {position: absolute;right: -80px;top:0;width:50px;height: 50px}
.pathmq {width: 24.99%}
@media screen and (max-width: 993px) {.reveal {margin-left: 0 !important}
 .lessmargmob {margin-top:20px}}
@media screen and (max-width: 992px) {.talent-lynx {margin:auto;display: block;padding-right: 0}
 .pathmq2 {width:100%;margin-top:25px;margin-right:0;float:none}
 .dynamic-divs {height:auto}
 .less-marg {margin-top: 70px !important}
 .less-marg2 {margin-top: 100px !important}
 .auto-resume,.job-matching {margin-left:0;margin-top: 20px}}
@media screen and (max-width: 850px) {.pathmq,.pathmq50 {float: none;width: 100%;margin-top: 25px !important;margin-left: 0 !important}
 .reveal {width: 100%}
 .less-marg2 {margin-top: 70px !important}
 .auto-resume,.job-matching {width: 100%;}
 .on-the-go-padding-mq,.interview-succ-mq {padding-top: 50px}}
@media screen and (max-width: 992px) and (min-width: 851px) {.kai-icon {display: none}}
@media screen and (max-width: 850px) {.kai-icon {float: none;margin-top:0}}
#footerwrapper {background-image: url(../images/lynx_landing.png), url(../images/bg_sky2.gif) !important}
.w3-content {max-width:1300px;padding-left:50px;padding-right:50px}
@media screen and (max-width: 600px) {.w3-content {padding-left:20px;padding-right:20px}}
.hire_btn:hover {background-color:#7d53cc!important;border-color: #7d53cc}
body.darkpagetheme #main {border-right:0}

/* Style Plus */
.shadow-black-01 {text-shadow: .1px .1px .1px #000}
.shadow-black-02 {text-shadow: .2px .2px .2px #000}
.shadow-black-03 {text-shadow: .3px .3px .3px #000}
.shadow-black-04 {text-shadow: .4px .4px .4px #000}
.shadow-black-05 {text-shadow: .5px .5px .5px #000}
.shadow-black-1 {text-shadow: 1px 1px 1px #000}
.shadow-black-2 {text-shadow: 2px 2px 2px #000}
.shadow-black-3 {text-shadow: 3px 3px 3px #000}

.box-shadow-black-05 {box-shadow: .5px .5px 2px .5px #000;}
.box-shadow-black-1 {box-shadow: 1px 1px 5px 1px #000;} /* Сдвиг x, сдвиг y, размытие, растяжение, цвет*/
.box-shadow-black-2 {box-shadow: 2px 2px 5px 2px #000;}
.box-shadow-white-1 {box-shadow: 1px 1px 5px 1px #fff;}