/*start style external*/
a:hover,a:active{color: #059862}
table.w3-table-all,table.ws-table-all{margin:20px 0}
/*НАЛАШТУВАННЯ TOP, TOPNAV, SIDENAV, MAIN, RIGHT и FOOTER:*/
.top {
 position:relative;
 background-color:#F5F5DC; /* колір фону з Лого */
 height:68px;
 padding-top:18px;
 line-height:50px;
 overflow:hidden;
 z-index:2;
}
.w3schools-logo {
 font-family:Impact, sans-serif;
 text-decoration:none;
 line-height:1;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-size:37px;
 letter-spacing:3px;
 color:blue;
 display:block;
 position:absolute;
 text-shadow: 1px 1px 1px #000
}
.w3schools-logo .dotcom {color:orange}
.toptext {margin-right:20px;}

.w3schools-logo:hover {color:#4082c3; text-shadow: 1.2px 1.2px .5px #000}
.dotcom {color:orange;font-size:.8em;text-shadow: 1.1px 1.1px .5px #000}
.dotcom:hover {color:#ffcc00;text-shadow: 1.1px 1.1px 1px #000}

/*Верхня навігація*/
.topnav {
 position:relative;
 z-index:2;
 font-size:17px;
 background-color:#008B8B; /*фон верхнього навбару*/
 color:#f1f1f1;
 width:100%;
 padding:0;
 letter-spacing:1px;
 font-family:"Segoe UI",Arial,sans-serif;
}
.topnav a{padding:10px 15px 9px 15px !important;}
.topnav .w3-bar a:hover,.topnav .w3-bar a:focus{background-color:#000 !important;color:#fff !important;}
.topnav .w3-bar a.active {background-color:#008B8B; /*фон верхнього навбару*/ color:#fff;}
a.topnav-icons {width:52px !important;font-size:20px !important;padding-top:11px !important;padding-bottom:13px !important;}
a.topnav-icons.fa-home {font-size:22px !important}
a.topnav-icons.fa-menu {font-size:22px !important}
a.topnav-localicons {font-size:20px !important;padding-top:6px !important;padding-bottom:12px !important;}
#sidenav h2 {font-size:21px;padding-left:16px;margin:-4px 0 4px 0;width:204px;}
#sidenav a {font-family:"Segoe UI",Arial,sans-serif;text-decoration:none;display:block;padding:2px 1px 1px 16px;font-size:1.2em;}
#sidenav a:hover,#sidenav a:focus {color:#000;background-color:#ccc;}
#sidenav a.active {background-color:#04AA6D;color:#fff}
#sidenav a.activesub:link,#sidenav a.activesub:visited {background-color:#ddd;color:#000;}
#sidenav a.activesub:hover,#sidenav a.activesub:active {background-color:#ccc;color:#000;}
#leftmenuinner {position:fixed;top:0;padding-top:118px;padding-bottom:0;height:100%;width:220px;background-color:transparent;}
#leftmenuinnerinner {height:100%;width:100%;overflow-y:scroll;overflow-x:hidden;padding-top:20px;}
#main {padding:16px}
#mainLeaderboard {height:90px}
#right {text-align:center;padding:16px 16px 0 0}
#right a {text-decoration:none}
/*#right a:hover {text-decoration:underline}*/
#skyscraper {min-height:600px}
.sidesection {margin-bottom:32px;}
#sidesection_exercise a{display:block;padding:4px 10px;}
#sidesection_exercise a:hover,#sidesection_exercise a:active{background-color:#ccc;text-decoration:none;color:#000;}
.bottomad {padding:0 16px 16px 0;float:left;width:auto;}
.footer a {text-decoration:none;}
.footer a:hover{text-decoration:underline;}
#nav_tutorials,#nav_references,#nav_exercises,#nav_login{-webkit-overflow-scrolling:touch;overflow:auto;}
#nav_tutorials::-webkit-scrollbar,#nav_references::-webkit-scrollbar,#nav_exercises::-webkit-scrollbar {width: 12px;}
#nav_tutorials::-webkit-scrollbar-track,#nav_references::-webkit-scrollbar-track,#nav_exercises::-webkit-scrollbar-track {background:#555;}
#nav_tutorials::-webkit-scrollbar-thumb,#nav_references::-webkit-scrollbar-thumb,#nav_exercises::-webkit-scrollbar-thumb {background: #999;}
#nav_tutorials,#nav_references,#nav_exercises,#nav_login {
 display:none;
 letter-spacing:0;
 margin-top:44px;
 position:absolute;
 width:100%;
 background-color:#282A35;
 color:white;
}
#nav_tutorials a,#nav_references a,#nav_exercises a,#nav_examples a{padding:2px 0 2px 6px!important;font-size:18px;}
#nav_tutorials a:focus,#nav_references a:focus,#nav_exercises a:focus,#nav_examples a:focus{color:#000;background-color:#ccc;}
#nav_tutorials h3,#nav_references h3,#nav_exercises h3,#nav_examples h3, #sectionxs_tutorials h3,
#sectionxs_references h3,#sectionxs_exercises h3 {padding-left:6px;color:#FFF4A3;font-family: 'Source Sans Pro', sans-serif;}
.ref_overview{display:none}
.tut_overview{display:none;margin-left:10px;background-color:#ddd;line-height:1.8em;}
#sidenav a.activesub:link,#sidenav a.activesub:visited {background-color:#ddd;color:#000;}
#sidenav a.activesub:hover,#sidenav a.activesub:active {background-color:#ccc;color:#000;}
#sidenav a.active_overview:link,#sidenav a.active_overview:visited {background-color:#ccc;color:#000;}
.w3-example{background-color:#E7E9EB;border-radius:5px;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.nextprev a {font-size: 18px;font-family: 'Source Sans Pro', sans-serif;padding-left:19px;padding-right:19px;border:1px solid #cccccc;border-radius:5px;}
.nextprev a:link,.nextprev a:visited {background-color:#fff;color:#000;}
.w3-example a:focus,.nextprev a:focus{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.w3-example .w3-btn, .w3-example .ws-btn {background-color:#04AA6D!important;border-radius:5px;font-size: 17px;font-family: 'Source Sans Pro', sans-serif;padding:6px 18px;}
.w3-code{border-left:4px solid #04AA6D;}
.nextprev a.w3-right,.nextprev a.w3-left {background-color:#04AA6D;color:#fff;border-color:#04AA6D}
.pagemenu{margin-left:-20px;margin-right:-20px;padding:20px;background-color:#d4edda;line-height:2.8em;color:#555;}
.pagemenu hr {border-top: 1px solid #fff;margin:20px 0;}
.pagemenu a {display:block;text-decoration:none!important;}
.pagemenu a:hover,.learnmore a:active {color:#000;}
.w3-theme {color:#fff !important;background-color:#73AD21 !important}
.w3-theme-border {border-color:#04AA6D !important}
#google_translate_element img {margin-bottom:-1px;}
#googleSearch {color:#000;}
#googleSearch a {padding:0 !important;}
.searchdiv {max-width:400px;margin:auto;text-align:left;font-size:16px}
div.cse .gsc-control-cse, div.gsc-control-cse {background-color:transparent;border:none;padding:6px;margin:0}
td.gsc-search-button input.gsc-search-button {background-color:#4CAF50;border-color:#4CAF50}
td.gsc-search-button input.gsc-search-button:hover {background-color:#46a049;}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
 box-sizing:content-box; line-height:normal;}
.gsc-tabsArea div {overflow:visible;}
.w3-main{transition:margin-left 0s;}
@media (min-width:1675px) {
 #main {width:79%}
 #right {width:21%}}
@media (max-width:600px) {.top img {display:block;margin:auto;}}
@media (max-width:400px) {.top .w3schools-logo {font-size:30px;top:24px;}}
@media (max-width:992px) {.toptext {display:none;}
 .login {top:2px;}
 #sidenav {width:260px;box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
 #sidenav h2 {font-size:26px;width:100%;}
 #sidenav a {padding:3px 2px 3px 24px;font-size:17px}
 #leftmenuinner {overflow:auto;-webkit-overflow-scrolling:touch;height:100%;position:relative;width:auto;padding-top:0;background-color:#f1f1f1;}
 #leftmenuinnerinner {overflow-y:scroll}
 .bottomad {float:none;text-align:center}
 #skyscraper {min-height:60px}
}
@media screen and (max-width:600px) {
 .w3-example, .w3-note, #w3-exerciseform {margin-left:-16px;margin-right:-16px;}
}

/* fontawesome */
@font-face {
 font-family: 'fontawesome';
 font-style: normal;
 font-weight: normal;
 font-display: swap;
 src: url('../lib/fonts/fontawesome.eot?14663396'); /* IE9 Compat Modes */
 src: url('../lib/fonts/fontawesome.eot?14663396#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../lib/fonts/fontawesome.woff2?14663396') format('woff2'), /* Super Modern Browsers */
 url('../lib/fonts/fontawesome.woff?14663396') format('woff'), /* Modern Browsers */
 url('../lib/fonts/fontawesome.ttf?14663396') format('truetype'), /* Safari, Android, iOS */
 url('../lib/fonts/fontawesome.svg?14663396#fontawesome') format('svg'); /* Legacy iOS */
}

.fa {
 display:inline-block;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 transform:translate(0, 0);
}
.fa-2x {
 font-size:2em;
}
.fa-home:before {content:'\e800';}
.fa-menu:before {content: '\f0c9';}
.fa-globe:before {content:'\e801';}
.fa-search:before {content:'\e802'; }
.fa-thumbs-o-up:before {content:'\e803';}
.fa-facebook-square:before {content:'\e806';}
.fa-twitter-square:before {content:'\e808';}
.fa-instagram:before {content:'\f16d';}
.fa-linkedin-square:before {content:'\f30c';}
.fa-caret-down:before {content:'\e809';}
.fa-caret-up:before {content:'\e80a';}
.fa-adjust:before { content: '\e80b'; }
.fa-user:before { content: '\e816'; }
.fa-js:before { content: '\e819'; }
.fa-python:before { content: '\e81a'; }
.fa-php:before { content: '\e81b'; }
.fa-bootstrap:before { content: '\e81c'; }
.fa-html5:before { content: '\f13b'; }
.fa-css3:before { content: '\f13c'; }
.fa-code:before { content: '\f121'; }
.fa-graduation-cap:before { content: '\f19d'; }
.fa-envelope:before { content: '\e805'; }

.w3-codeline{background-color:#f1f1f1;color:#000;font-family: Consolas,'courier new', sans-serif;padding:15px;}
.intro {font-size:1.1em;background-color:#eee;padding: 15px 15px;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);}
.w3-btn, .w3-btn:link, .w3-btn:visited {color:#fff;background-color:#04AA6D}
a.w3-btn[href*="exercise.asp"],a.w3-btn[href*="exercise_js.asp"] {margin:10px 5px 0 0}
a.btnplayit,a.btnplayit:link,a.btnplayit:visited {background-color:#FFAD33;padding:1px 10px 2px 10px}
a.btnplayit:hover,a.btnplayit:active {background-color:#fff;color:#FFAD33}
a.btnplayit:hover {box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);}
a.btnsmall:link,a.btnsmall:visited,a.btnsmall:active,a.btnsmall:hover {
 float:right;padding:1px 10px 2px 10px;font:15px Verdana, sans-serif;}
a.btnsmall:hover {box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);}
a.btnsmall:active,a.btnsmall:hover {color:#4CAF50;background-color:#fff}

@media (max-width:1700px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(18){display:none;}}
@media (max-width:1600px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(13){display:none;}}
@media (max-width:1530px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(12){display:none;}}
@media (max-width:1450px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(11){display:none;}}
@media (max-width:1350px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(10){display:none;}}
@media (max-width:1240px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(9){display:none;}}
@media (max-width:1140px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(8){display:none;}}
@media (max-width:1050px) {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(7){display:none;}}
@media (max-width:992px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(6){display:none;}}
@media (max-width:300px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(17){display:none;}}
@media (max-width:930px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(19){display:none;}}
@media (max-width:800px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(20){display:none;}}
@media (max-width:650px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(5){display:none;} #topnav .w3-bar:nth-of-type(1) a:nth-of-type(16){display:none;}}
@media (max-width:460px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(4){display:none;}}
@media (max-width:400px)  {#topnav .w3-bar:nth-of-type(1) a:nth-of-type(3){display:none;}}
.w3-note{background-color:#ffffcc;border-left:6px solid #ffeb3b}
.w3-warning{background-color:#ffdddd;border-left:6px solid #f44336}
.w3-info{background-color:#ddffdd;border-left:6px solid #4CAF50}
hr[id^="ez-insert-after-placeholder"] {margin-top: 0;}

/*NYTT:*/
#main {padding:16px 32px 32px 32px;border-right: 1px solid #f1f1f1;}
#right {padding:16px 8px;}
.sidesection .w3-left-align {text-align:center!important;}
#footer {padding:32px;border-top:1px solid #f1f1f1;}
#footer hr:first-child {display:none;}
.w3-info {background-color: #D9EEE1;border-left: none;padding:32px;margin:24px -32px 24px -32px;}
.w3-info .w3-btn {background-color:#04AA6D;border-radius: 5px;}
.w3-example {padding: 8px 20px;margin: 24px -20px;box-shadow:none!important;}
.w3-note, .w3-warning {border-left: none;}
/*.w3-panel {*/
.w3-note, .w3-warning {margin: 24px -32px 24px -32px;padding:16px 32px;}
h1 {font-size: 42px;}
h2 {font-size: 32px;}
.w3-btn:hover,.w3-btn:active,.w3-example a:focus,.nextprev a:focus {box-shadow: none;background-color: #059862 !important;}
.w3-btn:hover.w3-blue,.w3-btn:active.w3-blue,.w3-button:hover.w3-blue,.w3-button:active.w3-blue {background-color: #0d8bf2!important;color: #fff!important;}
.w3-btn:hover.w3-white,.w3-btn:active.w3-white,.w3-button:hover.w3-white,.w3-button:active.w3-white {background-color: #f1f1f1!important;}
.nextprev .w3-btn:not(.w3-left):not(.w3-right):hover,.nextprev .w3-btn:not(.w3-left):not(.w3-right):active,.nextprev .w3-btn:not(.w3-left):not(.w3-right):focus {
 background-color: #f1f1f1!important;}

p {margin-top: 1.2em;margin-bottom: 1.2em;font-size: 16px;text-align: justify}
hr {margin:20px -16px;}
.w3-codespan {font-size:105%;background-color:rgba(222,222,222,0.3);}
.w3-example p,.w3-info p,.w3-note p,.w3-warning p {margin-top: 1em;margin-bottom: 1em;}
.w3-code,.w3-codeline{font-size:15px;}

@media screen and (max-width:800px) {
 .w3-example, #w3-exerciseform {margin-left:-32px;margin-right:-32px;border-radius:0}
 p {margin-top: .8em;margin-bottom: .8em;font-size: 18px;text-align: left}
 #sidenav a {font-size:1.3em; padding:6px 1px 6px 12px}
 /*article {background: #3b3b3b;color:#eee;padding: 15px;margin:-30px}*/
}

@media only screen and (max-width: 500px) {
 #main {padding:16px}
 h1 {font-size: 30px;}
 h2 {font-size: 25px;}

 .w3-note,.w3-info,.w3-warning {margin-left:-16px;margin-right:-16px;padding-left:16px!important;padding-right:16px!important;}}
/* Style Plus */
.shadow-black-01 {text-shadow: .1px .1px .1px #000}
.shadow-black-02 {text-shadow: .2px .2px .2px #000}
.shadow-black-03 {text-shadow: .3px .3px .3px #000}
.shadow-black-04 {text-shadow: .4px .4px .4px #000}
.shadow-black-05 {text-shadow: .5px .5px .5px #000}
.shadow-black-1 {text-shadow: 1px 1px 1px #000}
.shadow-black-2 {text-shadow: 2px 2px 2px #000}
.shadow-black-3 {text-shadow: 3px 3px 3px #000}

.box-shadow-black-05 {box-shadow: .5px .5px 2px .5px #000;}
.box-shadow-black-1 {box-shadow: 1px 1px 5px 1px #000;} /* Сдвиг x, сдвиг y, размытие, растяжение, цвет*/
.box-shadow-black-2 {box-shadow: 2px 2px 5px 2px #000;}
.box-shadow-white-1 {box-shadow: 1px 1px 5px 1px #fff;}

.sum {background: #DCEEE2; margin:0 -16px; color: #004345; border-style: solid; border-width: 1px; border-color:#B7CBCE;}
.sum h4 {padding-left: 24px}
.sum a {text-decoration: none;}
h2:target {background: #FFDE8B; padding: 0 5px;}
.quest {background: #f5f5dc; margin:0 -16px; font-size:.9em; color: #004345; border-style: solid; border-width: 1px; border-color:#B7CBCE;}
.quest h3 {padding-left: 24px; text-decoration: underline #aa0000; color:#008b8b;}

.adver_adup {display: block}
.adver_adinarticle {display: block}
.adver_addown {display:block}
.adver_adfooter {display:none!important;}
.adver_adinfeed {display:block}
.adver {display:none!important;}
.adver2 {display:block}
.adver3 {display:block}

.heading {text-shadow: 1px 1px .5px #000}
p {line-height: 1.4;}
.g-search {background: #ddd;}
.predisqus {border:none; width:100%;}
.frame-source {height: 632px;max-width: 100%;border:0;}
.right-sidebar-list {list-style: none; padding: 0;font-size:.9em;}
.author {font-size:.9em; font-family: calibri, sans-serif;}
.img-responsive {max-width:100%;height:auto;border:0;}
figcaption {padding: 10px 0; font-family: calibri, sans-serif;}

.w3-example .w3-btn, .w3-example .ws-btn {
 background-color:#04AA6D!important;
 border-radius:5px;
 font-size: 17px;
 font-family: 'Source Sans Pro', sans-serif;
 padding:6px 18px;
}

.videowrap {max-width: 720px; margin: 0 auto;}
.videoblock {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;}
.videoblock iframe, object, embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;}
.video-title {font-size: 2em; text-align: center; color:#00008b;}