/* W3Schools Font Logo */
.w3schools-logo {font-family:Impact, sans-serif;text-decoration:none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size:37px;letter-spacing:3px;color:blue;display:block;position:relative;text-shadow: 1px 1px 1px #f1cb0b}
.w3schools-logo:hover {color:#4082c3; text-shadow: 1.2px 1.2px .5px #000}
.dotcom {color:orange;font-size:.8em;text-shadow: 1.1px 1.1px .5px #000}
.dotcom:hover {color:#ffcc00;text-shadow: 1.1px 1.1px 1px #000}

/* Customize W3.CSS */
#nav_tutorials,#nav_references,#nav_examples,#nav_exercises {display:none;padding-bottom:40px;position:absolute;width:100%;z-index:5 !important}
.w3-col .w3-button {margin:5px 5px 5px 0;font-size:16px}

.btn-learn {display:inline-block;background-color:#008B8B;color:#fff;border-radius:5px;font-size:16px;padding:10px;margin: 5px;width:200px;text-decoration:none;text-shadow: 1px 1px 1px #000}
.btn-learn:hover {background-color: #017777}
.btn-ex {background-color:#008B8B;color:#fff;border-radius:5px;text-shadow: 1px 1px 1px #000}
.btn-ex:hover {background-color:#017777}
.c-picker {background: #caead4}
.template {background:#cee8f5}
.exercise {background:#f5eed0}
.left-sidebar {background: #e6edfa}
.btn-dark {padding:18px;width:auto;border:none;display:block;outline:0;text-decoration:none}
.btn-dark:hover {background: #0A5F38;color:#fff}

.w3-col.l4 .w3-card-2 {padding:15px 10px;height:260px}
.w3-theme {color:#fff !important;background-color:#008B8B !important}
.w3-main {margin-left:230px;}
.w3-sidebar {z-index:3;width:230px;overflow:hidden !important;position:absolute !important;margin-bottom:-155px}
.w3-sidebar .w3-bar-block .w3-bar-item {padding:0 16px;font-size:16px}
.w3-bar {position:relative;z-index:4;font-size:17px}
.w3-wide {font-family:"Segoe UI",Arial,sans-serif}
h1 {font-size: 2em;color: white;margin: -10px 0 10px 0;text-shadow: 1px 1px 1px #000}
h2 {font-size:60px;color:#222;margin:2px 0 -20px 0 !important}
h3 {color:#000}
h4 {color:#000}
.certoverlay {position:absolute;top:0;background-color:rgba(0, 0, 0, 0.5);width:100%;text-align:center;padding:15px}
.certoverlay h2 {margin:10px 0 0 0;font-size:36px}
.certoverlay h3 {margin:0 0 10px 0}
@media screen and (min-width:769px){.w3-sidebar.w3-collapse{display:block !important;}}
@media screen and (min-width:769px){#myAccordion,.hidesm{display:none !important;}}
@media screen and (min-width:769px){.w3-main{margin-left:230px !important;}.w3-bar-block .w3-button{padding:0;}}
@media screen and (max-width:768px){.w3-sidebar.w3-collapse,.barex,.navex{display:none !important;}.w3-bar-block .w3-bar-item{text-align:center !important;padding:2px 0;}h1,.w3-jumbo{font-size:40px !important;}}
@media screen and (max-width:545px){.certoverlay{padding:10px;height:100%;}.certoverlay h3{font-size:15px;}}
@media screen and (max-width:380px){.getcert{position:absolute;text-align:center;left:50%;bottom:50%;font-size:13px;}}
@media only screen and (max-width: 1366px){.w3-hide-device{display:none;}}

/* Customize main.css */
body {background: #F5F5DC; position:relative;min-height:100%}
.shadow-black-1 {text-shadow: 1px 1px 1px #000}
.box-h70 {height:70px;padding-top:10px}
.picker {width:150px;height:128px;margin-top:16px}
.pro {font-size:.1em;color:#D9EEE1}
.tryit-button {background-color: #008B8B;color: white;border-radius: 5px;font-size: 18px;width:200px}
.tut-button {background-color: #04AA6D;color: white;font-size: 18px;margin: auto;display: block;width: 200px;border-radius: 25px}
.tut-button:hover,.tryit-button:hover,.exercise-button:hover,#getdiploma a:hover,.bar-item-hover:hover {background-color: #008B55 !important;color:white!important}
.black-color {background-color: #282A35;color: white}
.black-color:hover {background-color: #000!important;color: white!important}
.grey-color {background-color: #E7E9EB;color: black}
.exercise-button {background-color: #04AA6D;color: white;padding: 17px;font-size: 19px;width: 100%}
.titul-face {background-image: linear-gradient(red, yellow)}
.example-bg {background: #ddd;border:1px solid #aaa;border-radius:5px;box-shadow:1px 1px 5px #999}
.lesson-bg {background: #D9EEE1;border:1px solid #aaa;border-radius:5px;box-shadow:1px 1px 5px #999}

/* Dark Theme */
.darktheme h1 {color: #fff;text-shadow: 1px 1px 1px #000;margin: -10px 0 10px 0}
.darktheme h2 {color: #eee;text-shadow: 1px 1px 1px #000;margin:2px 0 -20px 0 !important}
.darktheme h3 {color: #eee;text-shadow: 1px 1px 1px #000}
.darktheme h4 {color: #eee;text-shadow: 1px 1px 1px #000}
.darktheme .titul-face {background-image: linear-gradient(#8c0707, #c73203)}
.darktheme .w3-code{background-color:rgb(21,32,43);color:white;border-left-color:rgb(40,44,52)}
.darktheme .w3-codeline{background-color:rgb(40,44,52);color:white;border-left-color:rgb(40,44,52)}
.darktheme .w3-example pre{background-color:rgb(40,44,52)!important;border-left-color:rgb(40,44,52)}
.darktheme .tagcolor{color:#88ccbb/*green2*/!important}
.darktheme .tagnamecolor{color:#ff9999/*red*/!important}
.darktheme .attributecolor{color:#c5a5c5/*purple*/!important}
.darktheme .attributevaluecolor{color:#88c999/*green*/!important}
.darktheme .commentcolor{color:#999!important}
.darktheme .cssselectorcolor{color:#ff9999/*red*/!important}
.darktheme .csspropertycolor{color:#c5a5c5/*purple*/!important}
.darktheme .csspropertyvaluecolor{color:#88c999/*green*/!important}
.darktheme .cssdelimitercolor{color:white!important}
.darktheme .cssimportantcolor{color:#ff9999/*red*/!important}
.darktheme .jscolor{color:white!important}
.darktheme .jskeywordcolor{color:#c5a5c5/*purple*/!important}
.darktheme .jsstringcolor{color:#88c999/*green*/!important}
.darktheme .jsnumbercolor{color:#80b6ff/*blue*/!important}
.darktheme .jspropertycolor{color:white!important}
.darktheme .javacolor{color:white!important}
.darktheme .javakeywordcolor{color:#88c999/*green*/!important}
.darktheme .javastringcolor{color:#88c999/*green*/!important}
.darktheme .javanumbercolor{color:#88c999/*green*/!important}
.darktheme .javapropertycolor{color:white!important}
.darktheme .kotlincolor{color:white!important}
.darktheme .kotlinkeywordcolor{color:#88c999/*green*/!important}
.darktheme .kotlinstringcolor{color:#88c999/*green*/!important}
.darktheme .kotlinnumbercolor{color:#88c999/*green*/!important}
.darktheme .kotlinpropertycolor{color:white!important}
.darktheme .phptagcolor{color:#999!important}
.darktheme .phpcolor{color:white!important}
.darktheme .phpkeywordcolor{color:#ff9999/*red*/!important}
.darktheme .phpglobalcolor{color:white!important}
.darktheme .phpstringcolor{color:#88c999/*green*/!important}
.darktheme .phpnumbercolor{color:#88c999/*green*/!important}
.darktheme .pythoncolor{color:white!important}
.darktheme .pythonkeywordcolor{color:#ff9999/*red*/!important}
.darktheme .pythonstringcolor{color:#88c999/*green*/!important}
.darktheme .pythonnumbercolor{color:#88c999/*green*/!important}
.darktheme .angularstatementcolor{color:#ff9999/*red*/!important}
.darktheme .sqlcolor{color:white!important}
.darktheme .sqlkeywordcolor{color:#80b6ff/*blue*/!important}
.darktheme .sqlstringcolor{color:#88c999/*green*/!important}
.darktheme .sqlnumbercolor{color:yellowgreen}
.darktheme {background-color: #1d2a35!important;color:#ddd!important}
.darktheme .w3-white {background-color: #1d2a35!important;color:#ddd!important}
.darktheme .ws-black {background-color:rgb(13,23,33)!important}
.darktheme #pagetop {background-color:rgb(21,32,43);color:#ddd}
.darktheme #nav_tutorials,.darktheme #nav_references,.darktheme #nav_exercises,.darktheme #nav_login {background-color:rgb(13,23,33);color: white}
.darktheme .topnav {background-color: rgb(13,23,33)}
.darktheme .w3-theme {color:#fff !important;background-color: #013b3b !important}
.darktheme #main {border-right: 1px solid #38444d}
.darktheme hr {border-top: 1px solid #38444d}
.darktheme .w3-codespan {color:#ff9999}
.darktheme .w3-note {background-color: #FFF4A3!important;color:#000}
.darktheme .w3-example {background-color: #38444d}
.darktheme .w3-info {background-color:rgb(21,32,43)}
.darktheme #w3-exerciseform {background-color: #38444d;color: #ddd}
.darktheme #w3-exerciseform .exercisewindow {background-color: rgb(21,32,43);color: #ddd}
.darktheme #w3-exerciseform .exerciseprecontainer {background-color: #38444d}
.darktheme #w3-exerciseform .exerciseprecontainer input {background-color:rgb(21,32,43);color:#eee}
.darktheme #leftmenuinnerinner::-webkit-scrollbar {width: 12px}
.darktheme #leftmenuinnerinner::-webkit-scrollbar-track {background:rgb(21,32,43)}
.darktheme #leftmenuinnerinner::-webkit-scrollbar-thumb {background: #29353e}
.darktheme #leftmenuinnerinner {background-color:rgb(21,32,43);color:#ccc}
.darktheme #sidenav a.active_overview:link,.darktheme #sidenav a.active_overview:visited {background-color: #38444d;color:#ddd}
.darktheme .tut_overview {background-color: #38444d}
.darktheme #footer {border-top: 1px solid #38444d;background-color: #1d2a35;padding: 32px}
.darktheme .ws-grey {background-color: #38444d!important;color: #ddd!important}
.darktheme #getdiploma {background-color: rgb(13,23,33)!important}
.darktheme #video_sidesection {background-color:rgb(13,23,33)}
.darktheme #internalCourses {background-color:rgb(13,23,33)}
.darktheme .w3-third .bigbtn {border: 1px solid #38444d!important;background-color: #38444d!important;color: #ddd !important}
.darktheme .top {background-color:rgb(13,23,33)}
.darktheme .topnav {background-color: #014949}
.darktheme .topnav .w3-bar a.active {background-color: #014949}
.darktheme .sidesection {background-color: #2f2f2f;color:#ccc}
.darktheme .intro {background-color: #242948;border:.5px dashed; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0)}
.darktheme .btn-rightbar {background-color: #333;color:#eee;border-bottom:1px solid #555}
.darktheme .example-bg {background: #014949;box-shadow:1px 1px 10px #000}
.darktheme .lesson-bg {background: #1c1a3a;border:1px solid #666;box-shadow:1px 1px 10px #000}
.darktheme .pro {color:#1c1a3a}
.darktheme .btn-learn:hover {box-shadow:1px 1px 5px #000}
.darktheme .c-picker {background: #031808;color:#eee}
.darktheme .template {background: #021f34;color:#eee}
.darktheme .exercise {background: #250411}
.darktheme .left-sidebar {background: #002c3f}