#quizmain {
  font-family: "Segoe UI",Arial,sans-serif;
  width:100%;
  background-color:#fff;
}
#qtext {
  font-size:18px;
  margin-bottom:40px;
}
#altcontainer {
  background-color:#fff;
  font-size:120%;
  line-height:1.7em;
}
#answerbuttoncontainer {
  position:relative;
  padding:20px 0;
}
.answerbutton {
  background-color:#4CAF50;
  padding:12px 30px !important;
  font-size:17px;
}
#timespent {
  position:absolute;
  right:0;
  text-align:right;
  border:none;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size:16px;
  width:80px;
}
.linktotutdiv {
  color:#555;
}
.linktotutdiv a {
  padding:10px 20px;
  text-decoration:none;
  color:black!important;
  background-color:rgba(255, 235, 59,0.6)!important;
}
.linktotutdiv a:hover,.linktotutdiv a:active {
  background-color:rgba(255, 235, 59,1)!important;
}
/* The radiocontainer */
.radiocontainer {
  background-color:#f1f1f1;
  display: block;
  position: relative;
  padding:10px 10px 10px 50px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-wrap: break-word;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 19px;
  width: 19px;
  background-color: #fff;
  border-radius: 50%;
}
.checkedlabel {
  background-color:#ddd;
}
/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  /*nothing*/
}
.radiocontainer:hover {
  background-color: #ddd;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
@media screen and (max-width:600px) {
  .quizresultbtn {
    display:block;
    width:100%;
  }
}