#tryitLeaderboard {
  margin-top:5px;
  margin-bottom:5px;
  text-align:center;
  height:90px;
}

#resultSQL {
  font-size:14px;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  height:auto;
  width:auto;
}
#iframeResultSQL {
  display:none;
  background-color: #ffffff;
  height:95%;
  min-height:400px;
  top:25px;
  width:100%;
  border:1px solid #d3d3d3;
  border:none;
}
#divResultSQL {
  background-color: #ffffff;
  border:1px solid #d3d3d3;
  border:none;
  overflow:auto;
}
#textareaCodeSQL {
  font-size:15px;
  font-family:Consolas,"courier new";
  height:140px;
  width:100%;
  border:1px solid #d3d3d3;
  resize: none;
}
.CodeMirror.cm-s-default {
  height:140px;
}
#footerSQL {
  height:20px;
  font-family:verdana;
}
#dbInfo {
  height:auto;
  color:#222222;
  font-family:verdana;
  font-size:12px;
  text-align:center;
  max-width:300px;
  margin:auto;
  position:relative;
}
@media (max-width:992px){
  #dbInfo {
    width:auto;
    position:static;
  }
}
.chromesupport,.iesupport,.safarisupport,.firefoxsupport,.operasupport {
  width:20px; height:20px; float:left; margin-left:15px;background-repeat:no-repeat;
}
.iesupport		{background-image:url('../images/compatible_edge2020.gif');}
.chromesupport	{background-image:url('../images/compatible_chrome2020.gif');}
.firefoxsupport	{background-image:url('../images/incompatible_firefox2020.gif');}
.safarisupport	{background-image:url('../images/compatible_safari2020.gif');}
.operasupport	{background-image:url('../images/compatible_opera2020.gif');}