#scssfiletab, #cssfiletab, #htmlfiletab, #resttab {
  position:absolute;
  z-index:2;
  font-family:arial,sans-serif;
  padding:4px 12px;
  width:70px;
  cursor:pointer;
}
#scssfiletab {
  width:110px;
  left:0;
}
#cssfiletab {
  border-left:1px solid #d9d9d9;
  border-right:1px solid #d9d9d9;
  width:110px;
  left:110px;
}
.darktheme #cssfiletab {
  border-left:1px solid #595959;
  border-right:1px solid #595959;
}
#htmlfiletab {
  width:110px;
  border-right:1px solid #d9d9d9;
  left:220px;
}
.darktheme #htmlfiletab {
  border-right:1px solid #595959;
}
#resttab {
  z-index:1;
  border-bottom:1px solid #d9d9d9;background-color:#f1f1f1;
  width:100%;
  left:0px;
}
.tabitem {
  background-color:#eaeaea;
  border-bottom:1px solid #d9d9d9;
}
.tabitem.tabselected{
  background-color:#fff;
  border-bottom:1px solid #fff;
}
.darktheme .tabitem {
  background-color:#444;
  border-bottom:1px solid #595959;
}
.darktheme .tabitem.tabselected{
  background-color:#292A34;
  border-bottom:1px solid #292A34;
}
.darktheme #resttab {
  background-color:#616161;
  border-bottom:1px solid #595959;
}
