#appjstab, #mystyletab, #indexjstab, #indexhtmltab, #appcsstab, #resttab {
  position:absolute;
  z-index:2;
  font-family:arial, sans-serif;
  padding:4px 12px;
  width:70px;
  cursor:pointer;
}
#indexjstab {
  width:80px;
  left:0;
}
.darktheme #indexjstab {
}
#indexhtmltab {
  border-left:1px solid #d9d9d9;
  border-right:1px solid #d9d9d9;
  width:100px;
  left:80px;
}
.darktheme #indexhtmltab {
  border-left:1px solid #595959;
  border-right:1px solid #595959;
}
#appcsstab {
  width:auto;
  border-right:1px solid #d9d9d9;
  left:180px;
}
.darktheme #appcsstab {
  border-right:1px solid #595959;
}
#mystyletab {
  width:180px;
  border-left:1px solid #d9d9d9;
  left:70px;
}
.darktheme #mystyletab {
  border-left:1px solid #595959;
}
#resttab {
  z-index:1;
  border-bottom:1px solid #d9d9d9;background-color:#F1F1F1;
  width:100%;
  left:0;
}
.tabitem {
  background-color:#eaeaea;
  border-bottom:1px solid #d9d9d9;
}
.tabitem.tabselected{
  background-color:#fff;
  border-bottom:1px solid #fff;
}
.darktheme .tabitem {
  background-color:#444;
  border-bottom:1px solid #595959;
}
.darktheme .tabitem.tabselected{
  background-color:#292A34;
  border-bottom:1px solid #292A34;
}
.darktheme #resttab {
  background-color:#616161;
  border-bottom:1px solid #595959;
}