* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color:#000000;
  margin:0;
  font-size:100%;
}
.trytopnav {
  height:40px;
  overflow:hidden;
  min-width:380px;
  position:absolute;
  width:100%;
  top:0;
  background-color:#f1f1f1;
}
.trytopnav a {
  color:#999;
}
.w3-bar-item:hover {
  color:#999 !important;
}
a.w3schoolslink {
  padding:0 !important;
  display:inline !important;
}
a.w3schoolslink:hover,a.w3schoolslink:active {
  text-decoration:underline !important;
  background-color:transparent !important;
}
#dragbar{
  position:absolute;
  cursor: col-resize;
  z-index:3;
  padding:5px;
}
#shield {
  display:none;
  top:0;
  left:0;
  width:100%;
  position:absolute;
  height:100%;
  z-index:4;
}
#framesize span {
  font-family:Consolas, monospace;
}
#container {
  background-color:#f1f1f1;
  width:100%;
  overflow:auto;
  position:absolute;
  top:40px;
  bottom:0;
  height:auto;
}
#textareacontainer, #iframecontainer {
  float:left;
  height:100%;
  width:50%;
}
#textarea, #iframe {
  height:100%;
  width:100%;
  padding-bottom:10px;
  padding-top:1px;
}
#textarea {
  padding-left:10px;
  padding-right:5px;
}
#iframe {
  padding-left:5px;
  padding-right:10px;
}
#textareawrapper {
  width:100%;
  height:100%;
  background-color: #fff;
  position:relative;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow:auto;
}
#iframewrapper {
  width:100%;
  height:100%;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#textareaCode, .codewindow {
  background-color: #fff!important;
  font-family: consolas,"courier new",monospace;
  font-size:15px;
  height:100%;
  width:100%;
  padding:12px 8px 8px 8px;
  resize: none;
  border:none;
  line-height:normal;
  overflow:auto;
  word-wrap:break-word;
}
.CodeMirror.cm-s-default {
  line-height:normal;
  padding:24px 4px 4px 4px;
  height:100%;
  width:100%;
}
#filenamecontainer {
  position:absolute;
  text-align:center;
  z-index:4;
  width:100%;
}
#filenamecontainer span {
  opacity:0.9;
  padding:1px 6px;
  font-family:Consolas, sans-serif;
  background-color:#f1f1f1;
  font-size:16px;
}
#iframeResult, #iframeSource {
  background-color: #fff;
  color:#000;
  font-family: initial;
  height:100%;
  width:100%;
  padding:0;
}
#textareacontainer.horizontal,#iframecontainer.horizontal{
  height:50%;
  float:none;
  width:100%;
}
#textarea.horizontal{
  height:100%;
  padding-left:10px;
  padding-right:10px;
}
#iframe.horizontal{
  height:100%;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
}
#container.horizontal{
  min-height:200px;
  margin-left:0;
}
#tryitLeaderboard {
  background-color:#fff;
  overflow:hidden;
  text-align:center;
  margin-top:5px;
  height:90px;
}
@media screen and (max-width: 727px) {
  .trytopnav {top:70px;}
  #container {top:108px;}
}
@media screen and (max-width: 467px) {
  .trytopnav {top:60px;}
  #container {top:98px;}
}
@media only screen and (max-device-width: 768px) {
  #iframewrapper {overflow: auto;}
  #container     {min-width:320px;}
  .stack         {display:none;}
  #tryhome       {display:block;}
}

@font-face {
  font-family: 'fontawesome';
  src:url('../lib/fonts/fontawesome.eot?14663396');
  src:url('../lib/fonts/fontawesome.eot?14663396#iefix') format('embedded-opentype'),
  url('../lib/fonts/fontawesome.woff?14663396') format('woff'),
  url('../lib/fonts/fontawesome.ttf?14663396') format('truetype'),
  url('../lib/fonts/fontawesome.svg?14663396#fontawesome') format('svg');
  font-weight:normal;
  font-style:normal;
}
.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  transform:translate(0,0);
}
.fa-2x {
  font-size:2em;
}
.fa-home:before {content: '\e800'; }
.fa-rotate:before {content: '\e813'; }
.fa-save:before {content: '\e804'; }
.fa-adjust:before { content: '\e80b'; }
#iframewrapper {
}

.localhostcontainer {
  position:absolute;
  width:auto;
  right:0;
  left:0;
  z-index:2;
  padding:4px 12px;
  border-bottom:1px solid #d9d9d9;
  background-color:#f1f1f1;
  font-family:arial, sans-serif;
  font-size:15px;
}
body.darktheme .localhostcontainer {
  border-bottom:1px solid #595959;
  background-color:#616161;
  color:#fff;
}
body.darktheme {
  background-color:rgb(40, 44, 52);
}
body.darktheme #tryitLeaderboard{
  background-color:rgb(40, 44, 52);
}
body.darktheme .trytopnav{
  background-color:#616161;
  color:#ddd;
}
body.darktheme #container {
  background-color:#616161;
}
body.darktheme .trytopnav a {
  color:#dddddd;
}
body.darktheme #filenamecontainer span {
  background-color:#555;
  color:#f1f1f1;
}
body.darktheme .codewindow {
  background-color: #282B34!important;
  color: #fff;
}
.darktheme #textareawrapper {
  background-color: #282B34!important;
  color: #fff;
}