/* Where to start style */
#nav_tutorials,#nav_references,#nav_exercises {margin-top: 0;}
@media screen and (min-width: 769px) {.w3-bar-block .w3-button {padding: 0 16px !important;}}
#belowtopnav {padding:0;}
#main {padding: 0;border-right: none;width:100%;margin-top:15px;}
h1,h2,h3,h4,h5,h6 {font-family: 'Source Sans Pro', sans-serif;}
h1 {font-size: 80px;margin: 2px 0 -20px 0 !important;}
h4 {font-size: 1.4em;font-weight: 600; margin: 0 !important;}
.learn h1  {margin: 10px 0 !important;}
.w3-round {border-radius: 5px;}
.tut-button {background-color: #04AA6D;color: white;font-size: 18px;margin: auto;display: block;width: 200px;border-radius: 25px;}
.tut-button:hover,#getdiploma a:hover {background-color: #059862 !important;color:white!important;}
.w3-bar {color:#fff!important;}
@media screen and (max-width:860px) {
 .barex, .navex  {display: none !important;}}
@media screen and (max-width:768px) {h1 {font-size: 60px !important;}}
#getdiploma p {font-size: 52px;margin-top: 1em;margin-bottom: 1em;font-family: 'Source Sans Pro', sans-serif;}
#getdiploma h2 {font-size: 62px;margin-top: 1em;margin-bottom: 1em;font-family: 'Source Sans Pro', sans-serif;}
#getdiploma a {border-radius: 50px;font-size: 18px;background-color: #04AA6D;padding: 17px 55px}
#getdiploma h2 {font-size: 55px}
@media screen and (max-width: 500px) {#getdiploma p {font-size: 40px}
 #getdiploma a {width: 100%}}
.tutbuttons a {text-decoration:none}
.tutbuttons a div {opacity:0.9}
.tutbuttons a:hover div {opacity:1}
.ws-yellow {background-color:#fff080!important;color:black!important}
.ws-pink {background-color:#FFC0C7!important;color: black!important}
.ws-turquoise {background-color:#96D4D4!important;color: black!important}
.ws-btn {font-size: 18px;font-family: 'Source Sans Pro', sans-serif;border:none;border-radius:15px;display:inline-block;padding:6px 18px;vertical-align:middle;overflow:hidden;text-decoration:none;color:#fff;font-weight:600;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#04AA6D}
.ws-btn:hover,.ws-btn:active {background-color: #059862!important;color:#fff;}
/* The actual timeline (the vertical ruler) */
.timeline {position: relative;margin: 0 auto;}
.timeline::after {content: '';position: absolute;width: 6px;background-color: white;top: 10px;bottom: 85px;left: 50%;margin-left: -3px;}
/* Container around content */
.container {padding: 10px 40px;position: relative;background-color: inherit;width: 50%;margin-bottom:10px;}
/* The circles on the timeline */
.container::after {content: '';position: absolute;width: 25px;height: 25px;right: -13px;background-color: white;border: 4px solid white;top: 18px;border-radius: 50%;z-index: 1}
/* Place the container to the left */
.left {left: 0;}
/* Place the container to the right */
.right {left: 50%;position:absolute;}
/* Add arrows to the left container (pointing right) */
.left::before {content: " ";height: 0;position: absolute;top: 22px;width: 0;z-index: 1;right: 30px;border: medium solid white;}
/* Add arrows to the right container (pointing left) */
.right::before {content: " ";height: 0;position: absolute;top: 22px;width: 0;z-index: 1;left: 30px;border: medium solid white;}
/* Fix the circle for containers on the right side */
.right::after {left: -12px;}
/* The actual content */
.content {padding: 20px 30px;background-color: white;position: relative;border-radius: 6px;height:245px;}
br {user-select:none}
.h2content {text-align:center;color:#666;font-size: 84px;font-weight: 500;padding-top:26px;text-shadow: 1px 1px 1px #000}
.textdescmob {opacity:0.9;padding:10px 30px;margin: 0 -30px;font-size:40px;font-weight:500}
.jscont h2 {text-align:center;font-size: 65px;font-weight: 500;padding-top:26px;}
@media screen and (min-width: 1095px) {.content {height:215px;}
 .h2content {padding-top:14px;}}
@media screen and (max-width: 1161px) {.jscont {height:245px;}.jscont h2 {padding-top:37px;}}
.textdescmob {border-radius:5px 5px 0 0;}
@media screen and (max-width: 900px) {.ws-hide-900 {display:none;}
 .right {background-color:white !important;}
 .textsmallerscreens {font-size:45px!important}}
@media screen and (min-width: 901px) {.descmob {display:none;}}
@media screen and (max-width: 900px) {
 /* Place the timelime to the left */
 .timeline::after {left: 28px;}
 /* Full-width containers */
 .container {width: 100%;padding-left: 70px;padding-right: 25px;}
 /* Make sure that all arrows are pointing leftwards */
 .container::before {left: 60px;border: medium solid white;}
 /* Make sure all circles are at the same spot */
 .left::after, .right::after {left: 15px;}
 /* Make all right containers behave like the left ones */
 .right {left: 0;position:relative;}
 .content,.jscont {height: auto;}}
.mylink {text-decoration:none;}
.mylink .content {opacity:0.9;}
.mylink:hover .content,.textdescmob:hover {opacity:1}
body.darkpagetheme {background-color: #38444d;color: #ddd;}
body.darkpagetheme .bar-icon-hover:hover,body.darkpagetheme .fa-logo:hover {
 background-color: #1d2a35!important;color:white!important;}
body.darkpagetheme {color: #f1f1f1;}
#footer,#footer a {font-family: Verdana,sans-serif;}
